<a href="https://colab.research.google.com/github/Hamza1122/Classification-Task/blob/main/Untitled125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df=pd.read_csv('Assignment3-TrainingData.csv')

In [12]:
df.head(10)

  row ID  BATHRM  HF_BATHRM  ...  LANDAREA         GIS_LAST_MOD_DTTM QUALIFIED
0   Row0     3.0        1.0  ...      1680  2018-07-22T18:01:43.000Z         0
1   Row1     3.0        1.0  ...      1680  2018-07-22T18:01:43.000Z         1
2   Row2     2.0        1.0  ...      2032  2018-07-22T18:01:43.000Z         0
3   Row3     3.0        2.0  ...      2196  2018-07-22T18:01:43.000Z         1
4   Row4     3.0        1.0  ...      1424  2018-07-22T18:01:43.000Z         1
5   Row5     3.0        0.0  ...      1360  2018-07-22T18:01:43.000Z         0
6   Row6     5.0        0.0  ...      2023  2018-07-22T18:01:43.000Z         0
7   Row7     2.0        0.0  ...      1837  2018-07-22T18:01:43.000Z         0
8   Row8     3.0        1.0  ...      1815  2018-07-22T18:01:43.000Z         1
9   Row9     2.0        1.0  ...      1445  2018-07-22T18:01:43.000Z         0

[10 rows x 38 columns]

In [13]:
df=df.drop(['SALEDATE','GIS_LAST_MOD_DTTM','row ID'],axis=1)

In [14]:
df.describe()

             BATHRM     HF_BATHRM  ...       LANDAREA     QUALIFIED
count  74987.000000  74986.000000  ...   75007.000000  75007.000000
mean       2.035660      0.608314  ...    3419.138054      0.430920
std        1.067649      0.617160  ...    5519.538116      0.495208
min        0.000000      0.000000  ...       0.000000      0.000000
25%        1.000000      0.000000  ...    1600.000000      0.000000
50%        2.000000      1.000000  ...    2370.000000      0.000000
75%        3.000000      1.000000  ...    4200.000000      1.000000
max       24.000000     11.000000  ...  691817.000000      1.000000

[8 rows x 26 columns]

In [15]:
df.corr()

              BATHRM  HF_BATHRM      HEAT  ...   USECODE  LANDAREA  QUALIFIED
BATHRM      1.000000   0.133854 -0.123863  ...  0.337570  0.243874   0.172837
HF_BATHRM   0.133854   1.000000 -0.153487  ... -0.088721  0.140253   0.103165
HEAT       -0.123863  -0.153487  1.000000  ...  0.003217 -0.017612  -0.178805
NUM_UNITS   0.401933  -0.148496  0.065051  ...  0.798941 -0.041283  -0.006023
ROOMS       0.639187   0.133625  0.046725  ...  0.374391  0.238464   0.019572
BEDRM       0.591457   0.151910  0.019240  ...  0.265185  0.227244   0.046003
AYB         0.039253   0.058672 -0.094046  ... -0.039415  0.016966   0.016861
YR_RMDL     0.141028   0.042418 -0.185933  ... -0.005573 -0.003903   0.231880
EYB         0.404516   0.352011 -0.342445  ...  0.020170  0.047423   0.130451
STORIES     0.036751   0.032086  0.001749  ...  0.018003 -0.009319   0.012039
PRICE       0.409774   0.209135 -0.090261  ...  0.033818  0.181367   0.439971
SALE_NUM    0.110856   0.038322 -0.140921  ...  0.012849 -0.033541   0.204554
GBA         0.692297   0.277528  0.014329  ...  0.207719  0.413022   0.016060
BLDG_NUM   -0.007210  -0.015783 -0.011438  ...  0.047659  0.135427  -0.015758
STYLE       0.268636   0.156933 -0.027273  ...  0.110315 -0.003757   0.048573
STRUCT     -0.281122  -0.091998 -0.022358  ... -0.021653 -0.350025   0.036832
GRADE       0.481718   0.299643  0.029137  ...  0.009726  0.246624   0.066232
CNDTN       0.368440   0.275587 -0.323389  ... -0.028913  0.078038   0.315442
EXTWALL     0.038598   0.042003 -0.045628  ...  0.041152 -0.041496   0.037892
ROOF        0.149227   0.094562  0.120604  ... -0.016670  0.082987   0.011914
INTWALL     0.094859   0.067505 -0.130751  ...  0.003694  0.005023   0.087542
KITCHENS    0.417169  -0.130218  0.059106  ...  0.742218 -0.027067   0.011366
FIREPLACES  0.396841   0.268607 -0.000740  ...  0.036575  0.260352   0.059206
USECODE     0.337570  -0.088721  0.003217  ...  1.000000 -0.038741   0.004850
LANDAREA    0.243874   0.140253 -0.017612  ... -0.038741  1.000000  -0.038713
QUALIFIED   0.172837   0.103165 -0.178805  ...  0.004850 -0.038713   1.000000

[26 rows x 26 columns]

In [18]:
df.head(1)

   BATHRM  HF_BATHRM  HEAT     HEAT_D  ... FIREPLACES  USECODE  LANDAREA  QUALIFIED
0     3.0        1.0   7.0  Warm Cool  ...        4.0       24      1680          0

[1 rows x 35 columns]

In [37]:
temp=df.groupby(["ROOF_D","GBA"])["PRICE"].max()  
temp

ROOF_D       GBA
Built Up     252      245000.0
             371           0.0
             407      378000.0
             495      228000.0
             500      389900.0
                       ...
Water Proof  3249          NaN
Wood- FS     1444     775000.0
             3036    1415000.0
             3785     920000.0
             3875          0.0
Name: PRICE, Length: 12565, dtype: float64

In [38]:
temp=df.groupby(["HEAT_D","ROOMS"])["PRICE"].max()  
temp

HEAT_D          ROOMS
Air Exchng      0.0       175000.0
                4.0       109000.0
                5.0        55000.0
                6.0       330000.0
                7.0      1015000.0
                           ...
Water Base Brd  11.0     1312500.0
                12.0     1720000.0
                13.0     1080000.0
                14.0      310000.0
                16.0      367000.0
Name: PRICE, Length: 206, dtype: float64

In [43]:
temp=df.groupby(["ROOF_D","HEAT_D"])["KITCHENS"].max()    
temp

ROOF_D       HEAT_D
Built Up     Air Exchng        2.0
             Air-Oil           4.0
             Elec Base Brd     4.0
             Electric Rad      4.0
             Evp Cool          2.0
                              ...
Typical      Water Base Brd    1.0
Water Proof  Forced Air        3.0
             Hot Water Rad     1.0
Wood- FS     Forced Air        1.0
             Warm Cool         2.0
Name: KITCHENS, Length: 120, dtype: float64

In [50]:
temp=df.groupby(["ROOF_D","HEAT_D","BEDRM"])["PRICE","AC"].max()    
temp

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                     PRICE AC
ROOF_D      HEAT_D        BEDRM
Built Up    Air Exchng    2.0     330000.0  Y
                          3.0     230000.0  Y
                          4.0     175000.0  Y
            Air-Oil       2.0     129000.0  Y
                          3.0     385000.0  Y
...                                    ... ..
Water Proof Forced Air    6.0          NaN  Y
            Hot Water Rad 3.0     705000.0  Y
Wood- FS    Forced Air    3.0     775000.0  Y
                          5.0     920000.0  Y
            Warm Cool     5.0    1415000.0  Y

[567 rows x 2 columns]